.nav {
  height: 50px;
  overflow: hidden;
  width: 100%;
}

.menu-logo {
  width: 300px;
  height: 50px;
  background-color: green;
  float: left;
}

.menu-icon {
  width: 50px;
  height: 50px;
  background-color: red;
  float: right;

}

.menu {
  height: 50px;
  width: auto;
  background-color: yellow;
}

.menu > *{
  float: left;
  height: 50px;
}

